.app {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
	position: relative;
	min-height: 100vh;
}

@media screen and (max-width: 769px) {
	.wrapper {
		width: 90%;
	}
}
